rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Pengaduan Sekolah & Log Penanganan
    match /complaints/{complaintId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if true;
    }
    
    // Default fallback
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
